/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: rgb(14, 1, 1);
}

/* body .container {
    background-image: url("./images/backgroundImg.jpg");
    background-size: cover;
  } */

.main-container .row {
  display: flex;
  margin: 4%;
  color: white;
}

.current {
  color: white;
}

.home a {
  display: flex;
  color: white;
  font-size: smaller;
}

h2 {
  color: rgb(247, 183, 9);
}

.container .my-1 {
  text-align: center;
  color: rgb(247, 183, 9);
  font-weight: bold;
}

.nav {
  color: white;
}

.nav a:hover {
  color: white;
}

.nav a:visited {
  color: rgb(247, 183, 9);
}

/* Highlights the active link in the navbar */
.nav-link.active {
  color: black !important;
  background: teal !important;
}

.nav-link.active a:hover {
  color: black;
}

/* Photo styling */
.self-photo {
  display: inline-block;
  width: 250px;
  height: 250px;
  border: 2px solid white;
  margin-right: 50px;
}

.project-photo {
  display: flex;
  border: 5px solid teal;
  margin: 5px;
  height: 450px;
  width: 600px;
}

.repo-link {
  color: teal;
  font-weight: bold;
}

.project-container a:hover {
  color: rgb(247, 183, 9);
}

.project-container {
  display: inline-block;
  margin-bottom: 20px;
}
/* Contact form styling */
.form {
  margin-top: 50px;
}

.form .field {
  color: white;
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 30px;
}

.form .submit-form {
  margin: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  font-weight: bold;
  background-color: teal;
}

/* Other styling */
p {
  display: inline-block;
  padding: 10px;
  margin: 10px;
  font-size: 20px;
}

.resume-file {
  margin: 5px;
  padding: 5px;
  color: teal;
  font-weight: bold;
  border: dashed 2px rgb(247, 183, 9);
}

.resume-page {
  margin-bottom: 30px;
}

.resume-page h4 {
  padding: 30px;
  text-decoration: underline;
}

.resume-page .skill-list {
  color: rgb(247, 183, 9);
}

.resume-page .list-items {
  font-size: smaller;
}

.footer .container-fluid {
  display: flex;
  border-top: 2px solid white;
  justify-content: center;
}

.foot-link a {
  font-weight: bold;
  font-size: 25px;
  padding: 10px;
  justify-content: center;
  color: rgb(247, 183, 9);
}

.foot-link a:hover {
  color: teal;
}

/*media queries*/

@media screen and (max-width: 768px) {
  body {
    display: grid;
    grid-template-columns: 3fr 1fr;
    column-gap: 20px;
  }

  nav .ul {
    display: flex;
  }

  nav li {
    flex: 1;
  }

  footer li {
    flex: 1;
  }

  .container-fluid .img {
    display: none;
  }
}
